



.main__div{
    width:99.9%;
    height:auto;
    background-image: url('./imageFolder/ekranalıntısı55.JPG');
    background-size: cover;
    display:flex;
    flex-direction: column;
    gap:50px;    
    overflow:visible;
}



.main__divOne{
    display:flex;   
    margin-left:450px;
    margin-top:150px;
    width:1050px;
    flex:0 0 400px;
    overflow:hidden;
    background-color: rgb(185, 168, 168);
    border-radius: 10px;
}

.main__divOne_first{
    
    display:flex;
   flex:0 0 700%;
    height:400px;
    overflow:hidden;
    background-color: white;    
    transition-duration:1s;  
}


.main__divSecond{
    display:flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left:450px;
    gap:50px;  
    width:1050px;
    height:700px;
    margin-bottom:5px;

}
.main__divSecond_first{
    width:500px;
    height:350px;
  
    border-radius: 10px;
    overflow:hidden;
}
.main__divSecond_first>img{
    width:500px;
    height:350px;
}
.main__divSecond_second{
    flex:0 0 300px;
    margin-left:12px;
    height:300px;
    border-radius: 15px;
    
    overflow:hidden;
}


.main__divSecond_second>img{
    width:300px;
    height:300px;
}


.button__left{
    outline:none;
    border:none;
    width:40px;
    height:30px;
    position:absolute;
    top:500px;
    left:455px;
    border-radius: 50px;
    z-index:10;
    background-color: yellow;
    cursor:pointer;
}


.button__right{
    position:absolute;
    width:40px;
    height:30px;
    outline:none;
    border:none;
    left:1453px;
    top:500px;
    border-radius: 50px;;
    z-index:10;
    background-color: yellow;
    cursor:pointer;
    
}

.button__right>img{}
.button__right>img{}



.slide__inside{
    width:100%;
    height:400px;
    background-color: red;
}




.slide__inside>img{
    width:100%;
    height:100%;
}